<%- include("head.ejs"); %>
<form action="inserir" method="post">
    <!-- Dados para inserir tabela mestre -->
    <div>
        <label for="">Descrição</label>
        <input type="text" name="Descr" class="form-control" value="<%= dados.Descr %>"> 
    </div>
    <div>
        <label for="">Codigo do Fornecedor</label>
        <input type="number" name="CodFor" class="form-control" value="<%= dados.CodFor %>"> 
    </div>
    <div>
        <label for="">Codigo da Categoria</label>
        <input class="form-control" type="number" name="CodCategoria" value="<%= dados.CodCategoria %>" /> 
    </div>
    <div>
        <label for="">Preço</label>
        <input class="form-control" type="number" name="Preco" value="<%= dados.Preco %>" /> 
    </div>
    <br>
    <div>
        <label for="">Unidades</label>
        <input class="form-control" type="number" name="Unidades" value="<%= dados.Unidades %>" /> 
    </div>
    <br>
    <input class="btn btn-primary" id="button1" type="submit" name="btIncuirPub" value="Inserir" />
    <a href="/" class="btn btn-outline-primary btn-sm">Voltar</a>
</form>
<body>
    </div>
    </div>
    </div>
</body>
</html>